<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  	<p class = "navbar-text: pull-left">Built by <a href="http://twitter.com/erickuhn19">@erickuhn19</a> with Ruby on Rails</p>
  </div>
</nav>